@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    transition: all 0.3s ease;
  }

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #161342 23%, #330c43 95%);
  overflow-x: hidden;
}

.gradients-container {
  width: 100%;
  height: 100%;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, #3e90fc 0, #1271ff00 30%) no-repeat;
  mix-blend-mode: hard-light;
  left: 60%;
  width: 80%;
  height: 80%;
  opacity: 0.3;
  z-index: -1;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, #3e90fc 0, #1271ff00 30%) no-repeat;
  mix-blend-mode: hard-light;
  right: 60%;
  width: 80%;
  height: 80%;
  opacity: 0.3;
  z-index: -1;
}

p{
  font-weight: 200;
}

.navbar{
  margin: auto;
  display: flex;
  padding: 35px 100px;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.navbar .menu{
  display: flex;
}

.navbar .menu li{
  margin: 0 6px;
  list-style: none;
}

.navbar .menu a{
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.navbar .buttons input{
  cursor: pointer;
  border: 1px solid #006efd;
  color: white;
  background-color: #006efd;
  padding: 10px 40px;
  border-radius: 1.5rem;
  text-align: center;
  transition: 0.2s ease;
}

@media (max-width: 900px){
  .navbar{
    display: block;
    align-items: center;
    text-align: center;
  }

  .navbar .menu li{
    align-items: center;
    text-align: center;
    margin: 10px auto 15px auto;
  }
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  padding: 35px 50px;
  margin: 0 auto;
  color: #fff;
}

.hero-text{
  max-width: 45%;
}

.hero-text h2{
  font-size: 1.5rem;
}


.hero-text h2 {
  font-size: 3.5rem;
}

.hero-text p {
  font-size: 1rem;
}

.hero-text input{
  cursor: pointer;
  border: 1px solid #006efd;
  color: white;
  background-color: #006efd;
  padding: 10px 40px;
  border-radius: 1.5rem;
  text-align: center;
  transition: 0.2s ease;
  margin-top: 30px;
}

.hero-img {
  width: 517px;
}

@media (max-width: 900px){
  .hero-section {
    display: block;
    height: 500px;
    text-align: center;
  }

  .hero-text{
    max-width: 100%;
  }

  .hero-text h2{
    font-size: 2.5rem;
  }

  .hero-img{
    width: 0px;
    height: 0px;
  }

  .hero-img img{
    visibility: hidden;
  }
}

.container {
  padding: 35px 50px;
  margin-bottom: 100px;
}

.container .title{
  border-radius: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: #006efd;
  width: fit-content;
  margin: auto auto 25px auto;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 300;
}

.container h3{
  font-size: 2.5rem;
  margin-bottom: 25px;
  text-align: center;
  color: #fff;
}

.container .grid{
  max-width: 1090px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.container .grid .grid-item{
  color: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 25px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backface-visibility: hidden;
}


@media (max-width: 900px){
  .container .grid .grid-item{
      width: calc(75% - 50px);
      margin: 20px auto;
  }
}

.container .grid-item h4{
  margin-bottom: 5px;
}

.container .grid-item p{
  margin-bottom: 10px;
}

.price .container .grid-item .title-img{
  display: flex;
}
.price .container .grid-item .title-img img{
  padding-right: 5px;
}

.container .grid-item .price{
  font-weight: 500;
  font-size: 20px;
}

.container input{
  cursor: pointer;
  border: 1px solid #006efd;
  color: white;
  background-color: #006efd;
  padding: 10px 50px;
  border-radius: 1.5rem;
  text-align: center;
  transition: 0.2s ease;
}

.faq {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  padding: 25px;
  border-radius: 25px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: fit-content;
  margin-bottom: 100px;
}

.faq-left{
  max-width: 40%;
}

.faq-left h3{
  margin-bottom: 2.5px;
}


.faq-right{
  width: 517px;
  text-align: right;
}

.faq-right .question{
  margin-bottom: 2.5px;
}

.faq-right .answer{
  margin-bottom: 10px;
}

.contact .title{
    border-radius: 1.5rem;
    margin-bottom: 25px;
    text-align: center;
    color: #fff;
    background-color: #006efd;
    width: fit-content;
    margin: auto;
    padding: 5px 15px;
}

.contact-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  padding: 25px;
  border-radius: 25px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: fit-content;
  margin-bottom: 100px;
}

.contact-left{
  max-width: 40%;
}


.contact-right{
  width: 400px;
  text-align: right;
}

.contact .buttons{
  display: flex;
  float: right;
}

.contact button{
  cursor: pointer;
  border-radius: 1.5rem;
  margin-bottom: auto 25px;
  margin-left: 25px;
  text-align: center;
  color: #fff;
  background-color: #006efd;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.contact button img{
  padding-right: 5px;
}